spring:
  datasource:
    name: test  #数据库名
    url: jdbc:mysql://localhost:3306/ecologyclock?useUnicode=true&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=UTC #url
    username: root  #用户名
    password: ttx2011  #密码
    driver-class-name: com.mysql.jdbc.Driver  #数据库链接驱动

mybatis:
  mapper-locations: classpath*:mapper/*.xml  #配置映射文件
  type-aliases-package: com.bright.ecologyclock.bean #配置实体类